<section data-ui-view="" class="ng-scope">
    <div class="body-wrapper ng-scope">
        <section class="banner">
            <div class="inner">
                <div class="dt">
                    <div class="dtc">
                        <p>经历连续两日的大涨之后，再度上涨受到一定的承压，再结合部分短线获利筹码出逃，
                            导致沪深两市今日早盘大幅低开，沪指直接开在5日均线附近。开盘后银行、旅游等板块震荡上行，
                            带动股指缓慢冲高，并再度站上3200点整数关口上方。随后股指在3240点附近再度承压震荡走低，
                            但整体依旧在早上开盘点位上方，形成震荡走势的假阳线。
                            整体山今日四大股指经历连续大涨之后，今日出现调整的走势，个股、板块普跌，上涨的板块和个股有限，
                            获利出局的压力有所增加。 消息面上，李克强正在大连达沃斯论坛开幕式上致辞。他强调，中国经济不会出现硬着陆，
                            创新宏观调控政策工具箱里的工具还有不少；将继续保持人民币汇率在合理均衡水平上的基本稳定。近几年，
                            尽管经济下行压力较大，但我们没有超发货币，没搞大规模强刺激，主要依靠改革增强经济活力。中央政府财政赤字率，
                            在世界主要经济体中较低，中国创新宏观调控政策工具箱里的工具还有不少。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="features container-fluid">
            <div class="inner row">

            </div>
        </section>
    </div>
</section>




