<section data-ui-view="" class="ng-scope">
    <div class="body-wrapper ng-scope">
        <section class="banner">
            <div class="inner">
                <div class="dt">
                    <div class="dtc">
                        <h3>{{reference.title}}</h3>
                        <p>{{reference.content}}</p>
                        <span>--来自野狼投资(wolfunds.com)的研盘分析。仅供参考，不作为绝对投资意见。</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="features container-fluid">
            <div class="inner row">
                <div class="dtc col-md-3 col-lg-3 col-sm-6"><img src="img/iconfont-big-data.png">

                    <div class="text"><span>大数据分析</span><br><span>精准提炼投资资讯</span></div>
                </div>
                <div class="dtc col-md-3 col-lg-3 col-sm-6"><img src="img/iconfont-trends.png">

                    <div class="text"><span>趋势预测</span><br><span>依托大数据，精准预测走势</span></div>
                </div>
                <div class="dtc col-md-3 col-lg-3 col-sm-6"><img src="img/iconfont-protection.png">

                    <div class="text"><span>财富保障</span><br><span>危机预警，保障财富安全</span></div>
                </div>
                <div class="dtc col-md-3 col-lg-3 col-sm-6"><img src="img/iconfont-team.png">

                    <div class="text"><span>专家团队</span><br><span>权威专家，强力助阵</span></div>
                </div>
            </div>
        </section>
    </div>
</section>




