<section data-ui-view="" class="ng-scope">
    <div class="body-wrapper ng-scope">
        <section class="banner">
            <div class="inner">
                <div class="dt">
                    <div class="dtc">
                        <h3>明日大盘猜想-先抑后扬，尾盘走出大行情</h3>
                        <p>
                            今日大盘跳水，是由于近期反弹无力导致的强回调。很多人也早就想到了，会发生这样的大回调。但是来势可谓很凶猛，大家都在担心是否会继续下探到2850点附近，甚至跌破下方压力位。个人觉得大家不用担心，还没有那么恐怖。那让我们大胆预测一下明天的走势吧。明天早盘要大幅低开，然后小幅反弹，再向下探底，然后再反弹，午后可能有一波拉升，极有可能微涨收盘。

                            来自野狼投资(wolfunds.com)的研盘分析。仅供参考，不作为绝对投资意见。
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="features container-fluid">
            <div class="inner row">

            </div>
        </section>
    </div>
</section>




