<section data-ui-view="" class="ng-scope">
    <div class="body-wrapper ng-scope">
        <section class="reg-container">

                <div class="form-behavior divider">
                    <span>注册</span>
                </div>

                <div class="inner">
                    <form ng-submit="callAPI()" class="form-float-label" id="new_user" action="" accept-charset="UTF-8" method="post">
                        <input name="utf8" type="hidden" value="✓">
                        <div class="form-group">
                            <input class="form-control" autofocus="autofocus" placeholder="邮箱/手机号" type="text"
                                   name="username" id="username"
                                   ng-model="formData.username">
                            <span class="float-label"><i class="icon-username"></i></span>
                        </div>

                        <div class="form-group">
                            <input class="form-control" autocomplete="on" placeholder="密码" type="password"
                                   name="password" id="password"
                                   ng-model="formData.password">
                            <span class="float-label"><i class="icon-lock"></i></span>
                        </div>

                        <div class="form-group checkbox-group hidden">
                            <input name="remember_me" type="hidden" value="0">
                            <input type="checkbox" value="1"
                                   checked="checked"
                                   name="user[remember_me]"
                                   id="user_remember_me">
                            <label for="user_remember_me">两周内免登录</label>
                        </div>

                        <div class="form-group action">
                            <button class="btn btn-block btn-reg ajax-post">注册</button>
                        </div>
                    </form>
                    <div class="help-section">
                        <span class="btn-alternative">
                          <a href="#login">我是老用户，要登录</a>
                        </span>
                        <!--<a href="/users/password/new">忘记密码</a>-->
                    </div>

                </div>
        </section>
    </div>
</section>




