<section data-ui-view="" class="ng-scope">
    <div class="body-wrapper ng-scope">
        <section class="stock-zh container-fluid">
            <div class="inner">
                <div class="dt">
                    <div class="dtc">
                        <div class="third widget doughnut">
                            <h3>投资组合-当前持股</h3>
                            <p><a href="" class="button">野狼投资团队管理</a></p>
                            <div class="canvas-container">
                                <canvas id="hours"></canvas>
                                <span class="status">9.8%</span>

                            </div>
                            <div class="stock-zh-desc">
                                <p class="today">今日盈亏<span class="increase-rate">9.8%</span></p>
                                <p class="net-worth">单位净值<span class="increase-rate">2.3</span></p>
                            </div>
                            <div class="chart-legend">
                                <ul >
                                    <li ng-repeat="item in stocks" class="fill-color-{{$index + 1}}">
                                        {{item.name}}（{{item.code}}） {{item.rate}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>



