<section class="cooperator ng-scope">
   <ul class="cooperator-list">
       <li>合作伙伴：</li>
       <li><a href="http://xueqiu.com/6509727695"><img src="img/logo_xueqiu.png"></a></li>
       <li><a href=""><img src="img/logo_eastmoney.jpg"></a></li>
       <li><a href=""><img src="img/logo_tonghuashun.png"></a></li>
       <li><a href=""><img src="img/logo_taipingyang.jpg"></a></li>
   </ul>
</section>

<section class="footer-simple ng-scope">
    <div class="inner">
        <div class="copyright">©2015 野狼投资, 让收益看得见！</div>
    </div>
    <div class="invest-warn">入市有风险，投资需谨慎！</div>
</section>